/* Styl domyślny */
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Dla mniejszych ekranów */
@media (max-width: 768px) {
  nav ul {
    display: block;
    width: 100%;
  }

  nav ul li {
    margin: 10px 0;
    text-align: center;
  }
}
