/* Styl dla kontenera na zakładki */
nav ul {
  display: flex;
  justify-content: space-around;  /* Rozstawia zakładki równomiernie */
  list-style-type: none;  /* Usuwa domyślną listę punktowaną */
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Responsywność - zmienia układ na kolumnowy na mniejszych ekranach */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    width: 100%;
  }
}

#forkme_banner {
  display: none;
}
